---
import Card from "./Card";
import specializationsData from '../db/data.json';
---

<section id="specialisti" class="bg-secondary py-20">
  <div class="w-[90%] m-auto text-white flex flex-col gap-4 pb-8">
    <h2 class="text-primary font-bold font-serif text-2xl">Gli specialisti</h2>
    <h3 class="mb-4 text-2xl font-sans font-bold">Chi stai cercando?</h3>
    <p>
      Qui trovi tutte le nostre specializzazioni con i rispettivi medici di
      riferimento
    </p>
  </div>
  <div
    class="w-[90%] gap-8 m-auto grid grid-cols-3 justify-between flex-wrap lg:gap-4 lg:flex-row"
  >
    {specializationsData.map((specialization) => <Card specialization={specialization.specialization}
      name={specialization.name}
      image={specialization.name}
      bio={specialization.bio}
      services={specialization.services}
      surname={specialization.surname}
      client:load />)}

  </div>
</section>
