---
import Footer from "@/components/Footer.astro";
import Header from "@/components/Header";
import "@/styles/globals.css";
import "@fontsource-variable/dm-sans";
import "@fontsource/bebas-neue";
const { pathname } = Astro.url;

// Extend the Window interface to include dataLayer
declare global {
  interface Window {
    dataLayer: any[];
  }
}
const titles: { [key: string]: string } = {
  "/": "Centro Medico Agliana - Studi medici specialistici ad Agliana",
  "/specializzazioni": "Centro Medico Agliana - I nostri specialisti",
};

let title = titles[pathname as string];
if (!title && pathname !== "/" && pathname !== "/specializzazioni") {
  title = "Centro Medico Agliana - Dettagli Specialista";
}
title = title || "Centro Medico Agliana";

const canonical =
  pathname === "/"
    ? "https://www.centromedicoagliana.it"
    : `https://www.centromedicoagliana.it${pathname}`;
---

<!doctype html>
<html lang="en">
  <head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-ZSYEEGY2J7"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        window.dataLayer.push(arguments);
      }
      /* @ts-ignore */
      gtag("js", new Date());
      /* @ts-ignore */
      gtag("config", "G-ZSYEEGY2J7");
    </script>
    <!-- GTM script -->
    <script>
      (function (w: any, d: Document, s: string, l: string, i: string) {
        w[l] = w[l] || [];
        w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s) as HTMLScriptElement,
          dl = l != "dataLayer" ? "&l=" + l : "";
        j.async = true;
        j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
        if (f.parentNode) f.parentNode.insertBefore(j, f);
      })(window, document, "script", "dataLayer", "GTM-MKWXQ487");
    </script>
    <link rel="sitemap" href="/sitemap-index.xml" />
    <script type="text/javascript">
      var _iub = _iub || [];
      _iub.csConfiguration = {
        siteId: 3774052,
        cookiePolicyId: 34164499,
        lang: "it",
      };
    </script>
    <script
      type="text/javascript"
      src="https://cs.iubenda.com/autoblocking/3774052.js"></script>
    <script
      type="text/javascript"
      src="//cdn.iubenda.com/cs/iubenda_cs.js"
      charset="UTF-8"
      async></script>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Studi medici con sede ad Agliana, specializzati in ginecologia, ortopedia, dermatologia, psicologia, osteopatia, senologia, urologia, podologia."
    />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta name="robots" content="index, follow" />
    <meta name="author" content="Centro Medico Agliana" />
    <meta
      name="keywords"
      content="centro medico agliana, ginecologia, ortopedia, dermatologia, psicologia, osteopatia, senologia, urologia, podologia"
    />
    <meta property="og:title" content="Centro Medico Agliana" />
    <meta
      property="og:description"
      content="Studi medici con sede ad Agliana, specializzati in ginecologia, ortopedia, dermatologia, psicologia, osteopatia, senologia, urologia, podologia."
    />
    <meta property="og:url" content="https://centromedicoagliana.it" />
    <meta property="og:type" content="website" />
    <title>{title}</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <link rel="canonical" href={canonical} />
  </head>
  <body>
    <main style="overflow-y: hidden;">
      <!-- Google Tag Manager (noscript) -->
      <noscript
        ><iframe
          src="https://www.googletagmanager.com/ns.html?id=GTM-MKWXQ487"
          height="0"
          width="0"
          style="display:none;visibility:hidden"></iframe></noscript
      >
      <!-- End Google Tag Manager (noscript) -->
      <Header client:load pathname={pathname} />
      <slot />
      <Footer />
    </main>
  </body>
</html>
